.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-family: monospace;
    text-align: center;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
   font-weight: bold;

  }
  
  .active, .accordion:hover {
    background-color: rgb(204, 204, 204);
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      letter-spacing: 1px;
      line-height: 30px;
  }

  
  .panel p a:hover{
    color: blue;
}

  
.topnav {
    background-color: rgba(153, 186, 224, 0.568);
    overflow: hidden;
    margin: 0 0 10 0;
    font-size: 100%;
    width: 100%;
}

.topnav a {

    color:black;
    text-align: center;
    padding: 14px 70px;
    text-decoration: underline;
    text-shadow: burlywood;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Lobster', cursive; 
}


.topnav a:hover {
    background-attachment: #ddd;
    color:rgb(255, 1, 44);
}



.topnav li {
    float: left;
    padding: 14px 80px;
    
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.text h1{
    color: rgb(0, 5, 1); 
    font-family: 'Rouge Script', cursive; 
    font-size: 65px; 
    font-style: italic;
    font-weight: 100; 
    line-height: 48px; 
    margin: 20px 0 50px; 
    text-align: center; 
}


body{
    background-color:rgba(250, 235, 215, 0.603);
}
