
.topnav {
    background-color: rgba(153, 186, 224, 0.568);
    overflow: hidden;
    margin: auto;
    font-size: 100%;
    width: 100%;
    display: flexbox;
}

.topnav a {

    color:black;
    text-align: center;
    padding: 14px 70px;
    text-decoration: underline;
    text-shadow: burlywood;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Lobster', cursive; 
}

#fotoHeader {
    width: 100%;
    display: block;
}

.topnav a:hover {
    background-attachment: #ddd;
    color:rgb(255, 1, 44);
}



.topnav li {
    float: left;
    padding: 14px 80px;
    
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}




body{
    background-color:rgba(250, 235, 215, 0.575);
}

.about-me h1{
    color: rgb(0, 5, 1); 
    font-family: 'Rouge Script', cursive; 
    font-size: 65px; 
    font-style: italic;
    font-weight: 100; 
    line-height: 48px; 
    margin: 20px 0 50px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34;
}

.about-me img{
    border-radius: 50%;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.about-me li{
    font-family: sans-serif;
    padding-right: 50px;
    text-align: center;
    margin: 0px 20px;
}

.about-me ul {
    list-style-type: none;
}

.about-me p{
    color: #7a7c7f; 
    font-size: 29px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}