
.topnav {
    background-color: rgba(153, 186, 224, 0.568);
    overflow: hidden;
    margin: auto;
    font-size: 100%;
    width: 100%;
    display: flexbox;
}

.topnav a {

    color:black;
    text-align: center;
    padding: 14px 70px;
    text-decoration: underline;
    text-shadow: burlywood;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Lobster', cursive; 
}

#fotoHeader {
    width: 100%;
    display: block;
}

.topnav a:hover {
    background-attachment: #ddd;
    color:rgb(255, 1, 44);
}



.topnav li {
    float: left;
    padding: 14px 80px;
    
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}




body{
    background-color:rgba(250, 235, 215, 0.575);
}

.contact img{
    max-width: 20%;
    max-height: 20%;
    
}

.contact h1{
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
    font-family: fantasy;
    letter-spacing: 8px;
    word-spacing: 4px;
    color: rgba(4, 51, 51, 0.568);
}

.contact ul{
    list-style-type: none;
    margin:100px 0 0 0;
    padding:0;
    text-align: center;
   
}
.contact ul li {
    display: inline;
}

.contact ul li a:hover{
    background-color: rgb(44, 6, 6);
}


.contact ul li #image{
    display: inline;
    align-self: baseline;
    
}
