
.topnav {
    background-color: rgba(153, 186, 224, 0.568);
    overflow: hidden;
    margin: 0 0 10 0;
    font-size: 100%;
    width: 100%;
}

.topnav a {

    color:black;
    text-align: center;
    padding: 14px 70px;
    text-decoration: underline;
    text-shadow: burlywood;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Lobster', cursive; 
}

#fotoHeader {
    width: 100%;
    display: block;
}

.topnav a:hover {
    background-attachment: #ddd;
    color:rgb(255, 1, 44);
}



.topnav li {
    float: left;
    padding: 14px 80px;
    
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}


.main h1{
    color: #d54d7ace; 
    font-family: "Great Vibes"; 
    font-size: 65px; 
    letter-spacing: 20px;
    line-height: 160px; 
    font-weight: 400;
    margin-bottom: 0px; 
    margin-top: 2px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff;
    text-transform: uppercase;
    word-spacing: 15px;
}



body{
    background-color:rgba(250, 235, 215, 0.575);
    overflow: auto;
}

.main .list-kue ul{
    list-style-type: none;
}

.main .list-kue p{
    color: #7a7c7f; 
    font-size: 29px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    padding-top: 20px; 
}

.main .list-kue h4{
    font-size: 30px; 
    letter-spacing: -1px; 
    color: rgba(203, 223, 132, 0.658); 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px; 
    text-align: center; 
    line-height: 50px;
}

.main .list-kue img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main .list-kue li{
    padding: 15px 15px;
    margin: 15px 15px;
}


  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

  }

.center button {
    color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: rgba(182, 78, 78, 0.479);
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.center button:hover{
    background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

