{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styleAbout.css' %}">
</head>
<body>
   
    <nav class="topnav">
        <ul>
            <li><a  href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>

    <div class="about-me">
        <h1>About Me</h1>
        <img src="{%static 'img/fadjar.jpg'%}" alt="">
        <br>
        <br>
        <ul>
            <li><p>Nama: Muhammad Fadjar Fadhillah</p></li>
            <li><p>NPM: 120404190067</p></li>
            <li><p>Lahir: Bogor, 24 oktober 2000</p></li>
            <li><p>Hobby: Menulis puisi</p> </li>
        </ul>
    </div>
</body>
</html>