{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styleContact.css' %}">
</head>
<body>
   
    <nav class="topnav">
        <ul>
            <li><a  href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    <div class="contact">
        <h1>Contact Me !!</h1>
        <ul>
            <li><a href="https://www.instagram.com/fadjarfadhillah/"><img src="{% static 'img/instagram.png' %}" alt=""></a></li>
            <li><a href="https://wa.me/085881168475"><img src="{% static 'img/whatsapp.png' %}" alt=""></a></li>
        </ul>
        <ul>
            <li><a id='linea' href="https://line.me/ti/p/aFMA4U1jIj"><img id='line' src="{% static 'img/line.png' %}" alt=""></a></li>
        </ul>
    </div>
    
</body>
</html>