{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/stylefaq2.css' %}">
</head>
<body>
   
    <nav class="topnav">
        <ul>
            <li><a  href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    
    <div class="text"><h1>Frequently Asked Question</h1></div>
    
   
    <button class="accordion">Mengapa anda memilih produk ini?</button>
        <div class="panel">
        <p>Dessert cake ini merupakan dessert kekinian yang sangat laris bagi para pencinta makanan manis dengan memberikan inovasi pada penempatan sebuah kotak sehingga lebih praktis dan bisa dibawa kemana saja.</p>
    </div>

    <button class="accordion">Apakah menu utama disini hanya pada cokelat saja?</button>
        <div class="panel">
        <p>Tidak, kami memberikan berbagai varian rasa agar pelanggan bisa merasakan berbagai rasa selain dari cokelat.</p>
    </div>

    <button class="accordion">Bagaimana kami bisa mendapatkan dessert cake ini</button>
        <div class="panel">
        <p>Kalian bisa menghubungi contact di link <a href="/contact">berikut</a></p>
    </div>


    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
</body>
</html>