{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="topnav">
        <ul>
            <li><a  href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <form name="formSaya" id="formBeli">
<table border="2" align="center">
 <tr style="color:rgb(0, 0, 0); background-color:000000;">
	<th>no</th>
	<th>Dessert Cake</th>
	<th>Harga Satuan</th>
	<th>Jumlah Pemesanan</th>
	<th>Jumlah</th>
</tr>

	<tr>
	<td><div align="center">1</div></td>
	<td>Red Velvet</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="harga1" id="hrg1" type="text" size="15">
	</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="pesan1" id="psn1" type="text" size="3" onKeyUp="var jumlah =
parseInt(formSaya.harga1.value)*parseInt(formSaya.pesan1.value); jml1.value= jumlah1" >
	</td>
	<td>
	<input style="background-color:#000000; color:#FFFFFF; font-weight:bold; "
name="jumlah1" id="jml1" type="text" size="15" readonly > 
	</td>
	</tr>

	<tr>
	<td><div align="center">2</div></td>
	<td>Lotus</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="harga2" id="hrg2" type="text" size="15">
	</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="pesan2" id="psn2" type="text" size="3"> 
	</td>
	<td>
	<input style="background-color:#000000; color:#FFFFFF; font-weight:bold; "
name="jumlah2" id="jml2" type="text" size="15" readonly > 
	</td>
	</tr>

	<tr>
	<td><div align="center">3</div></td>
	<td>Belgium</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="harga3" id="hrg3" type="text" size="15">
	</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="pesan3" id="psn3" type="text" size="3"> 
	</td>
	<td>
	<input style="background-color:#000000; color:#FFFFFF; font-weight:bold; "
name="jumlah3" id="jml3" type="text" size="15" readonly > 
	</td>
	</tr>
	
	<tr>
	<td><div align="center">4</div></td>
	<td>Regal</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="harga4" id="hrg4" type="text" size="15">
	</td>
	<td>
	<input style="text-align:right; font-weight:bold; "name="pesan4" id="psn4" type="text" size="3"> 
	</td>
	<td>
	<input style="background-color:#000000; color:#FFFFFF; font-weight:bold; "
name="jumlah4" id="jml4" type="text" size="15" readonly > 
	</td>
	</tr>

</table>
<center>
	<input name="Proses" type"button" value="Proses">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="Cancel" type"button" value="Cancel">

</center>

</form>
</body>
</html>